*.DS_Store
.idea
vendor/*

.php-cs-fixer.cache
composer.phar

*/node_modules/*
node_modules/*

dist/

!themes/classic/vendors/bootstrap-touchspin/dist

.env

views/assets/customs/*
!views/assets/customs/index.php

views/js/*
